<%- include('partials/header') %> 

    <link rel="stylesheet" href="assets/vendors/core/core.css">

    <!-- plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="assets/vendors/jquery-tags-input/jquery.tagsinput.min.css">
    <link rel="stylesheet" href="assets/vendors/dropzone/dropzone.min.css">
    <link rel="stylesheet" href="assets/vendors/dropify/dist/dropify.min.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css">
    <!-- end plugin css for this page -->

    <link rel="stylesheet" href="assets/fonts/feather-font/css/iconfont.css">

    <link rel="stylesheet" href="assets/scss/style.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="main-wrapper">

        <%- include('partials/sidebar') %> 

        <div class="page-wrapper">
            <%- include('partials/navbar') %> 

            <div class="page-content">
                 <div class="row">
                    <div class="col-md-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Edit User</h6>
                                <form class="cmxform" method="POST" action="/auth/update" enctype="multipart/form-data">
                                    <fieldset>
                                        <div class="row">
                                            <input type="hidden" value="<%= users.id %>" name="id">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="name">Name</label>
                                                    <input id="name" class="form-control" value="<%= users.username %>" name="username" type="text" placeholder="Enter Name" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input id="email" class="form-control" value="<%= users.email %>" name="email" type="email" placeholder="Enter Email" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input id="password" class="form-control" value="<%= users.password %>" name="password" type="password" placeholder="Enter Password" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="confirm_password">Confirm password</label>
                                                    <input id="confirm_password" class="form-control" value="<%= users.confirm_password %>" name="confirm_password" type="password" placeholder="Enter Confirm Password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="mobile_number">Mobile Number</label>
                                                    <input class="form-control mb-4 mb-md-0" data-inputmask-alias="(+99) 9999-9999" value="<%= users.mobile_no %>" name="mobile_no" im-insert="true" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="city">City</label>
                                                    <input type="text" class="form-control" id="city" value="<%= users.city %>" name="city" placeholder="Enter City" required> 
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="state">State</label>
                                                    <input type="text" class="form-control" id="state" value="<%= users.state %>" name="state" placeholder="Enter state" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="position">Position</label>
                                                    <input type="text" class="form-control" id="state" value="<%= users.position %>" name="position" placeholder="Enter Position" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="date">Starting Date</label>
                                                    <input class="form-control mb-4 mb-md-0" data-inputmask="'alias': 'datetime'" value="<%= users.starting_date %>" name="starting_date" data-inputmask-inputformat="dd/mm/yyyy" im-insert="false" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="salary">Salary</label>
                                                    <input type="text" class="form-control" id="salary" value="<%= users.salary %>" name="salary" placeholder="Enter Salary" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="address">Address</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="address" rows="3" required><%= users.address %></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Select Years</label>
                                                    <select class="form-control" id="exampleFormControlSelect1" name="age" required>
                                                        <%
                                                        var options = ["12-18", "18-22", "22-30", "Above 60" ];
                                                        for ( var i = 0; i < options.length; i++ )
                                                        {
                                                            var isSelected = ( users.age == options[i] ) ? "selected" : "";
                                                        %>  
                                                            <option value="<%=options[i]%>" <%=isSelected %>>
                                                                <%= options[i] %>
                                                            </option>
                                                        <%
                                                        }
                                                        %>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Gender</label><br/>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input"  name="gender" id="optionsRadios5" <%= users.gender ? 'checked' : '' %> value="Male" >
                                                            Male
                                                        <i class="input-frame" ></i></label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input"  name="gender" id="optionsRadios5" <%= users.gender ? 'checked' : '' %> value="Female">
                                                            Female
                                                        <i class="input-frame" ></i></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="pincode">Pincode</label>
                                                    <input type="text" class="form-control" id="pincode" value="<%= users.pincode %>" name="pincode" placeholder="Enter Pincode" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>File upload</label>
                                                    <div class="file-field input-field">
                                                        <div class="file-path-wrapper">
                                                            <input class="file-path validate" value="<%= users.image %>" type="text">
                                                          </div>
                                                   <div class="file-upload-browse" style="margin-left:10px">
                                                      <button style=" 
                                                        color: #fff;
                                                        background-color: #26a69a;
                                                        text-align: center;
                                                        font-size: medium;
                                                        padding: 10px; 
                                                        letter-spacing: .5px;
                                                        border: none;
                                                        border: none;
                                                        border-radius: 2px;
                                                        display: inline-block;
                                                        height: 36px;
                                                        line-height: 36px;
                                                        padding: 0 16px;
                                                        text-transform: uppercase;
                                                        vertical-align: middle;
                                                        -webkit-tap-highlight-color: transparent;
                                                    ">Upload</button>
                                                      <input type="file"  name="image" multiple >
                                                    </div>
                                                  
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="Submit">
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                </div>

            </div>

            <%- include('partials/footer') %> 

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- core:js -->
    <script src="assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="assets/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="assets/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="assets/vendors/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="assets/vendors/select2/select2.min.js"></script>
    <script src="assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="assets/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script src="assets/vendors/dropzone/dropzone.min.js"></script>
    <script src="assets/vendors/dropify/dist/dropify.min.js"></script>
    <script src="assets/vendors/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="assets/vendors/moment/moment.min.js"></script>
    <script src="assets/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/vendors/feather-icons/feather.min.js"></script>
    <script src="assets/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="assets/js/form-validation.js"></script>
    <script src="assets/js/bootstrap-maxlength.js"></script>
    <script src="assets/js/inputmask.js"></script>
    <script src="assets/js/select2.js"></script>
    <script src="assets/js/typeahead.js"></script>
    <script src="assets/js/tags-input.js"></script>
    <script src="assets/js/dropzone.js"></script>
    <script src="assets/js/dropify.js"></script>
    <script src="assets/js/bootstrap-colorpicker.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/timepicker.js"></script>
</body>
</html>